<footer id="footer">
  <nav id="footer-nav">
    <ul id="footer-nav-ul">
      <li class="nav-item"><a class="nav-item-link">Contact</a></li>
      <li class="nav-item"> <a class="nav-item-link"  href="/legalnotice">Mentions légales</a></li>
     </ul>
   </nav>
   <p id="legal-notices">L’abus d’alcool est dangereux pour la santé, consommez avec modération !</p>
   <p id="copyright">©Drink Genius</p>
 </footer>


</div>
<script type="module" src="/js/authModal.js" defer></script>
<script type="module" src="/js/responsiveMenu.js" defer></script>
<script src="/js/searchBar.js" defer></script>
<script src="/js/spirit-filter.js"></script>
<script type="module" src="/js/random.js" defer></script>
<script type="module" src="/js/createdCocktails.js" defer></script>
<script type="module" src="/js/newCocktail.js" defer></script>
<script type="module" src="/js/profileParameters.js" defer></script>
<script type="module" src="/js/cocktailManagement.js" defer></script>
<script src="/js/inscriptionConfirmed.js"></script>
<script src="/js/generator.js"></script>
<script src="../../js/navLinks.js"></script>
</body>
</div>



</html>
