<footer class="footer">
    <div class="content has-text-centered">
        <p> Site internet réservé à des personnes majeures </p>
        <p>L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. À CONSOMMER AVEC MODÉRATION.</p> 
        <input class="button" type="submit" value="Contact">
    </div>
  </footer>
  <script src="./partials/modal-connexion.js"></script>
</body>
</html>
        