       <footer id="footer">
          <p id="copyright">©Drink Genius</p>
          <nav id="footer-nav">
            <ul id="footer-nav-ul">
              <li class="nav-item">
                <a class="nav-item-link">Contact</a>
              </li>
              <li>
                <a class="nav-item-link">Mentions légales</a>
              </li>
            </ul>
          </nav>
          <p id="legal-notices">L’abus d’alcool est dangereux pour la santé, consommez avec modération !</p>
        </footer>

      </div>

  </body>
</html>