<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drink Genius</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">

    <script src="js/modal.js"></script>

    <link rel="stylesheet" href="../css/reset.css">
	  <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div id="overlay-menu-mobile"></div>
    <div id="container">

        <header id="header">
          <div id="header-logo-container">
            <img id="header-logo" src="/images/cocktail.png" alt="logo">
            <h1 id="header-title">Drink Genius</h1>
          </div>

          <div id="hamburger-menu">
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
          </div>


          <nav id="header-nav">
            <ul id="header-nav-ul">
                <li class="nav-item"><a class="nav-item-link" href="/">Accueil</a></li>
                <li class="nav-item"> <a class="nav-item-link"  href="/cocktails">Liste des cocktails</a></li>
                <li class="nav-item modal-trigger"><div class="nav-item-link" onclick="toggleModal('login')">Connexion</div></li>
                <li class="nav-item modal-trigger"><div class="nav-item-link" onclick="toggleModal('signup')">Inscription</div></li>
              
              </ul>
          </nav>

        </header>