
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drink Genius</title>

    <link rel="stylesheet" href="../css/reset.css">
	  <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <li nkhref="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    
  </head>
  <body>
     

    
    <div id="overlay-menu-mobile"></div>
    <div id="container">

        <header id="header">
          <div id="header-logo-container">
            <img id="header-logo" src="/images/cocktail.png" alt="logo">
            <h1 id="header-title">Drink Genius</h1>
          </div>

          <div id="hamburger-menu">
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
          </div>

          <div class="modal-container">
            <div class="overlay modal-trigger"></div>
                <div class="modal" >
                  
          <nav id="header-nav">
            <ul id="header-nav-ul">
                <li class="nav-item"><a class="nav-item-link" href="homePage">Accueil</a></li>
                <li class="nav-item"> <a class="nav-item-link"  href="cocktailList">Liste des cocktails</a></li>
                <li class="nav-item"><a class="nav-item-link"  href="loginPage">Connexion</a></li>
                <button class ="modal-btn modal-trigger">Inscription</button>
              
          </nav>
          
        </header>