<%- include("partials/header") %>

        <!-- MAIN -->
        <main id="main">
          <div id="generator">
            <h2>Générer un cocktail aléatoire !</h2>
            <div id="generator-virgin-option">
              <input id="generator-virgin-option-checkbox" type="checkbox" name="Sans-Alcool" checked> 
              <label id="generator-virgin-option-label" for="virgin">Sans-Alcool</label>
            </div>
              <a id="generator-preferences-btn">Préférences</a>
            <div>
              <a id="generator-generate-btn">Générer</a>
            </div>
          </div>
        </main>

<%- include("partials/footer") %>