<%- include("partials/header") %>



        <!-- MAIN -->
        <main id="main">

        <!--MODAL PREVENTION-->
        <div class="modal-container-prevention">
            <div class="overlay present"></div>
            <div class="modal-prevention" role="dialog" aria-labelledby="modalTitle">
                <h3 id="modalTitle">Bienvenue sur Drink Genius !</h3>
                <p>Avant que tu puisses profiter de cette application et que tu vives ta meilleure vie de Bartender.</p>
                <form id="ageForm">
                    <label for="birthYear">Nous aimerions vérifier ton année de naissance: </label>
                    <input class="birthYear" type="number" id="birthYear" name="birthYear" min="1900">
                    <div id="birthYear-error" style="display: none; color: red;">Ne sois pas timide...</div>
                    <div class="btn-validation">
                        <button type="button" class="modal-btn " id="checkAgeButton">Valider</button>
                    </div>
                </form>
                <p>Nous rappelons que l’abus d’alcool est dangereux pour la santé, consommez avec modération !</p>
            </div>
            <div id="message-prevention"></div>
        </div>

        <!-- Générateur -->
        <div id="generator-main-container">
            <div id="generator-container">
              <div id="machine-container">
                  <div id="machine">
                      <div id="bottles-container">
                          <div class="bottle">
                              <div class="bottle-part-one">
                                  <div class="liquid-one"></div>
                              </div>
                              <div class="neck">
                                  <div class="liquid-two"></div>
                              </div>
                          </div>
                          <div class="bottle">
                              <div class="bottle-part-one">
                                  <div class="liquid-one"></div>
                              </div>
                              <div class="neck">
                                  <div class="liquid-two"></div>
                              </div>
                          </div>
                          <div class="bottle">
                              <div class="bottle-part-one">
                                  <div class="liquid-one"></div>
                              </div>
                              <div class="neck">
                                  <div class="liquid-two"></div>
                              </div>
                          </div>
                          <div class="bottle">
                              <div class="bottle-part-one">
                                   <div class="liquid-one"></div>
                              </div>
                              <div class="neck">
                                  <div class="liquid-two"></div>
                              </div>
                          </div>
                          <div class="bottle">
                              <div class="bottle-part-one">
                                   <div class="liquid-one"></div>
                              </div>
                              <div class="neck">
                                  <div class="liquid-two"></div>
                              </div>
                          </div>
                      </div>
                      <div id="bloc">
                          <div class="generator-text-container">
                              <h2 id="generator-title">Générer un cocktail !</h2>
                          </div>
                          <label id="generator-virgin-option-label">
                            <input id="generator-virgin-option-checkbox" type="checkbox" name="Sans-Alcool">
                            Sans-Alcool
                          </label>
                          <a class="preferences-btn">+ Filtres</a>
                          <a id="new-cocktail" href="">Faire un nouveau cocktail</a>
                          <div id="glass-container">
                              <div id="door"></div>
                              <div id="stream"></div>
                              <img id="glass" src="../images/verre.png" alt="verre à cocktail">
                              <div id="glass-liquid"></div>
                          </div>
                          <div id="mute-btn">
                              <i class="fa-solid fa-volume-high fa-lg"></i>
                          </div>
                      </div>
                  </div>
                  <div id="bloc-levier">
                      <div id="bloc1"></div>
                      <div id="bloc2"></div>
                      <div id="levier">
                          <div id="boule"></div>
                          <div id="bras"></div>
                      </div>
                  </div>
              </div>
            </div>
          </div>

        </main>

        <script type="module" src="/js/random.js" defer></script>
        <script src="/js/generator.js"></script>

<%- include("partials/footer") %>
