<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drink Genius</title>
    <!--Bulma CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <header>
        <img src="" alt="">
        <h1>Drink Genius</h1>
    </header> 
    <main>
      
    </main>
    <footer>
      <div> Site internet réservé à des personnes majeures <br><hr> L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. À CONSOMMER AVEC MODÉRATION.</div>
    </footer>
    
    <!--Bulma JS-->
  </body>
</html>