<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drink Genius</title>
    <!--Bulma CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <header>
      <section class="hero is-success">
        <div class="hero-head">
          <img src="/public/images/Icône_Cocktail.png" alt="Icône_Cocktail">
          <p class="title">
            Drink Genius
          </p>
          <div class="buttons">
            <button class="button">One</button>
            <button class="button">Two</button>
            <button class="button">Three</button>
            <button class="button">Four</button>
          </div>
        
        </div>
      </section>
      
        
    </header> 
    <main>
      
    </main>
    <footer>
      <div> Site internet réservé à des personnes majeures <br><hr> L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. À CONSOMMER AVEC MODÉRATION.</div>
    </footer>
    
    <!--Bulma JS-->
  </body>
</html>