<%- include("partials/header") %>
        <main>
          <div class="modal-container">
            <div class="overlay modal-trigger"></div>
                <div class="modal" >
                  <button class="close-modal modal-trigger">X</button>
                  <h1>Inscris-toi ti coq et profite pleinement de l'appli</h1>
                  <form action="/signIn" method="post"></form>
                  <label class="label">Nom</label>
                  <input class="input" type="text" name="nom" id="card-nom-input" placeholder="Votre nom">
                  <label class="label">Prénom</label>
                  <input class="input" type="text" name="prenom" id="card-prenom-input" placeholder="Votre prénom">
                  <label class="label">Date de naissance</label>
                  <input class="input" type="date" name="date_naissance" id="card-date-input" placeholder="Votre date de naissance">
                  <label class="label">Email</label>
                  <input class="input" type="email" name="email" id="card-email-input" placeholder="Votre email">
                  <label class="label">Mot de passe</label>
                  <input class="input" type="password" name="mot_de_passe" id="card-password-input" placeholder="Votre mot de passe">
                </form>
              </div>
            </div> 

        </main>

        <%- include("partials/footer") %>      

