<%- include("partials/header") %>

        <!-- MAIN -->
        <main id="main">
          <div id="generator">
            <h2>Générer un cocktail aléatoire !</h2>
            <label id="generator-virgin-option-label">
              <input id="generator-virgin-option-checkbox" type="checkbox" name="Sans-Alcool">
              Sans-Alcool
            </label>
              <a id="generator-preferences-btn">+ Filtres</a>
            <div id="generator-generate-btn">
              <a id="generator-generate-btn-link">Générer</a>
            </div>
          </div>
        </main>

<%- include("partials/footer") %>