<%- include("partials/header") %>

<!-- MAIN -->
<main id="legal-notice-main">
    <h2>Mentions légales</h2>
        <section id="legal-notice-content">
            <h3>Informations générales</h3>
                <p>
                Bienvenue sur DrinkGenius, un site internet non marchand créé par l'équipe de DrinkGenius. Ce site a été développé dans le cadre d'une formation au développement informatique et n'est pas destiné à être commercialisé. <br>
                Nous vous invitons à lire attentivement les mentions légales ci-dessous.
                </p>
            <h3>Editeur du site</h3>
                <p>
                DrinkGenius    
               <h4>Adresse e-mail :</h4>drink.geniusofficial@gmail.com <br>         
            <h3>Propriété intellectuelle</h3> 
                <p>
                L'ensemble du contenu présent sur le site DrinkGenius, y compris, mais sans s'y limiter, les textes, les images, les vidéos, les logos, les marques, les éléments graphiques, et tout autre élément du site, est la propriété exclusive de DrinkGenius ou de ses partenaires. Toute utilisation non autorisée de ce contenu est strictement interdite.
                </p>
            <h3>Protection des données personnelles</h3> 
                <p>
                Léquipe de DrinkGenius attache une grande importance à la protection de vos données personnelles. <br>
                L’accès à vos informations personnelles est protégé par la double saisie d’un identifiant et d’un mot de passe que vous êtes seul(e) à connaître. Nous vous demandons de ne communiquer à personne votre mot de passe. <br> 
                Par ailleurs, nous vous recommandons de choisir un mot de passe suffisamment difficile à retrouver. Nous ne vous solliciterons jamais pour vous demander votre mot de passe, lors d’un appel téléphonique ou lors d’un contact avec vous à notre initiative. 
                Vous êtes seul(e) responsable de la préservation de la confidentialité de votre mot de passe et/ou de toute information personnelle que vous nous avez transmise. <br>
                Si votre poste est susceptible d’être utilisé par d’autres personnes, nous vous recommandons de cliquer sur le lien « Déconnexion » situé en haut à droite de chaque page du site, puis de quitter votre navigateur. <br>
                Toutes les données personnelles recueillies sur notre site internet proviennent de l’enregistrement des coordonnées des personnes les ayant directement communiquées à DrinkGenius.
                Les informations obligatoires (nom, prénom, année de naissance, email et mot de passe) sont utilisées afin de pouvoir bénéficier des services et fonctionnalités proposés par le site de drinkgenius.fr.
                Les informations personnelles recueillies à titre facultatifs (localisation, loisirs) sont à vocation unique d’apporter un service de qualité et personnalisé aux utilisateurs.
                DrinkGenius garantit que les informations enregistrées sur le site sont traitées de manière strictement confidentielle. Les données que vous nous communiquez sont nécessaires au traitement de vos demandes d’information.
                Elles ne seront en aucun cas utilisées de quelque autre manière que ce soit, dans le cadre du site ou en-dehors.
                </p>  
            <h3>Responsabilité</h3> 
                <p>
                Bien que nous nous efforcions de fournir des informations précises et à jour, nous ne pouvons garantir l'exactitude, l'exhaustivité ou la pertinence de notre contenu. En conséquence, nous déclinons toute responsabilité quant à l'utilisation que vous faites des informations présentes sur le site. <br>
                <h4>Modification des mentions légales :</h4>  
                DrinkGenius se réserve le droit de modifier les présentes mentions légales à tout moment. Les utilisateurs du site sont invités à consulter régulièrement cette page pour prendre connaissance des éventuelles modifications. <br>
                Dernière mise à jour : Le 16/10/2023 <br>  
                <h4>Contact :</h4>
                Si vous avez des questions ou des préoccupations concernant les présentes mentions légales, vous pouvez nous contacter à l'adresse e-mail suivante : drink.geniusofficial@gmail.com <br>
                Nous vous remercions de visiter DrinkGenius et espérons que votre expérience sur notre site sera agréable et enrichissante.
                </p>
        </section>
</main>



<%- include("partials/footer") %>