/* Style du conteneur principal */



/* Style des champs de saisie */
/* #new-cocktail-form .input,
.quantity-input,
textarea,
.select-dropdown {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: "Mooli", sans-serif;
    resize: none;
} */
