
#profile-main-container {
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
    gap: 60px;
    justify-content: center;
    color: var(--theme-purple);
}

/*#### NAV ####*/

#user-nav {
    height: 100%;
    width: 300px;
}

#user-nav .nav-item {
    margin:  1.7em;
    font-size: 1.2em;
}

#profile-flex-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

#profile-flex-content h2 {
    color: var(--theme-purple);
    margin-bottom: 1.5em;
}

#parameters-list {
    padding-bottom: 1em;
}

.parameters {
    padding-bottom: 1em;
    font-size: 1.2em;
}

.heart-icon {
    color: red;
    width: 1.5em;
    height: 1.5em;
}